<style type="text/css">
			.item{
				margin: 10px 0px 10px 0px;
				padding:10px;
			}
			.item p{
				line-height: 20px;
				background: #FFF;
				padding: 8px;
				text-align: justify;
				color: #898989;
				font-size: 13px;
				text-indent: 1.5em;
			}
			.item h5,.item h4{
				color: #898989;
				padding-left: 10px;
				background: #FFF;
				font-style: italic;
				text-transform: uppercase;
				font-size: 12px;
				padding-top: 10px;
			}
			.item ul{
				padding-top: 10px;
				display: block;
				background: #FFF;
				text-align: justify;
				color: #898989;
				font-size: 13px;
			}
			.item ul li{
				padding-top: 10px;
				display: block;
				background: #FFF;
				width: 99%;
				text-align: justify;
				color: #898989;
				font-size: 13px;
			}
			.item h2{
				color: #898989;
				padding: 10px;
				border-top: 1px dashed #c9c9c9;
				border-bottom: 1px dashed #c9c9c9;
				border-radius: 5px;
				margin: 10px 0 10px 0;
			}
</style>
<div id="container">
			<div class="item">
				<h2 id="sangue">SANGUE</h2>
				<p>
					O sangue é um tecido líquido que circula em nossos vasos sanguíneos com as funções de defesa de nosso organismo, transporte de oxigênio e de nutrientes.
				</p>
			</div>

			<div class="item">
				<h2 id="formaSangue">DE QUE FORMA É O SANGUE</h2>

				<p>
					<h5>O sangue é composto por aproximadamente:</h5>
					<ul>
						<li>Plasma (55%): é a parte líquida do sangue, de coloração palha, composto por 90% de água, proteínas e sais minerais, mantém o volume, fornece anticorpos e corrige sangramentos.</li>
						<li>Hemácias (40% de células vermelhas): são conhecidas como glóbulos vermelhos, proteína que contém ferro, corrigem anemia aguda ou crônica.</li>
						<li>Leucócitos (1,5% de células brancas): são os glóbulos brancos, fazem parte da linha de defesa do organismo e são acionados em casos de infecções.</li>
						<li>Plaquetas (3,5% de plaquetas): são pequenas células que interferem no processo de coagulação sanguínea, auxiliando no controle dos sangramentos.</li>
					</ul>
				</p>
			</div>

			<div class="item">
				<h2 id"quantoSanguePossui">QUANTO SANGUE NOSSO CORPO POSSUÍ</h2>
				<p>
					Um adulto possui em média 5 litros de sangue.
				</p>
			</div>

			<div class="item">
				<h2 id="comoProduz">COMO O SANGUE É PRODUZIDO</h2>
				<p>
					O sangue é produzido na medula óssea, parte interna dos ossos. A medula utiliza como principais precursores para a produção de sangue o ferro (presente na carne vermelha, feijão, beterraba), a vitamina B12 e o ácido fólico (presentes em vegetais verdes escuros) entre muitos outros.
				</p>
			</div>

			<div class="item">
				<h2 id="gruposSangue">GRUPOS SANGUÍNEOS</h2>
				<p>
					Os grupos sanguíneos são determinados pela presença de proteínas nas hemácias que determinam o grupo a que pertencemos. Os principais sistemas de grupo sanguíneo são: A, B, O e Rh. A distribuição dos grupos sanguíneos na população brasileira é parecida com a distribuição da população mundial salvo na população indígena onde a maioria dos indivíduos apresenta o sangue O+.

					<h5>O sangue da população brasileira em geral corresponde a:</h5>

					<ul>
						<li>Grupo A +: 36%</li>
						<li>Grupo A -: 6%</li>
						<li>Grupo B +: 9%</li>
						<li>Grupo B -: 2%</li>
						<li>Grupo AB +: 3%</li>
						<li>Grupo AB -: 1%</li>
						<li>Grupo O +: 37%</li>
						<li>Grupo O -: 7%</li>
					</ul>

				</p>
			</div>

			<div class="item">
				<h2 id="doacao">DOAÇÃO DE SANGUE</h2>
				<p>
					A doação é a retirada de aproximadamente 450 ml de sangue, através de inserção de uma agulha em um dos braços.
					A coleta é feita por pessoal capacitado e sob supervisão de um médico ou enfermeiro, garantindo o bem estar do doador.
					O ambiente deve ser limpo e confortável e o material descartável. Todo o processo da doação de sangue levam em torno de 55 minutos.
					Doar sangue não dói, nem prejudica a sua saúde.

				</p>
			</div>

			<div class="item">
				<h2 id="porqueDoar">PORQUE DOAR SANGUE</h2>
				<p>
					O sangue é um tecido vivo que circula pelo corpo, essencial à vida.
					Todos os dias acontecem centenas de acidentes, cirurgias e queimaduras violentas que exigem transfusão, assim como os portadores de hemofilia, leucemia e anemias.
					Além disso, doar sangue é um ato simples, tranquilo e seguro que não provoca risco ou prejuízo à saúde. Se cada pessoa saudável doasse sangue espontaneamente pelo menos duas vezes ao ano, os Hemocentros teriam Hemocomponentes suficiente para atender toda população. O sangue não tem substituto. Por isso a doação espontânea e periódica é fundamental. Uma única doação de sangue pode salvar várias vidas.
					Doar sangue é uma atitude necessária, de solidariedade, cidadania e amor.

					<h5>Lembre-se:</h5>

					<ul>
						<li>Sangue não se fabrica artificialmente;</li>
						<li>O sangue doado não ultrapassa 10% do volume em circulação no corpo;</li>
						<li>A quantidade doada é reposta rapidamente;</li>
						<li>Você só doa novamente se quiser. A doação de sangue não vicia;</li>
						<li>A doação acontece em ambiente confortável e limpo;</li>
						<li>O doador é atendido por pessoal capacitado e qualificado para esta função.</li>
					</ul>

				</p>
			</div>

			<div class="item">
				<h2 id="paraDoar">OQUE É NECESSÁRIO PARA DOAR</h2>
				<p>
					<ul>
						<li>Ter idade entre 18 e 69 anos, 11 meses e 29 dias;</li>
						<li>Doadores com idade de 16 e 17 anos de idade, são aceitos para doação mediante a presença e autorização formal dos pais e/ou responsável legal;</li>
						<li>O limite de idade para primeira doação é de 60 anos;</li>
						<li>O candidato à doação deve estar em boas condições de saúde, sem feridas ou machucados no corpo;</li>
						<li>Pesar acima de 50 kg (com desconto de vestimentas);</li>
						<li>Apresentar documento de identidade com foto, emitid</li>
						<li>Ter repousado bem na noite antes da doação;</li>
						<li>Evitar o jejum. Fazer refeições leves e não gordurosas, nas 4 horas que antecedem a doação;</li>
						<li>Evitar uso de bebidas alcoólicas nas últimas 12 horas;</li>
						<li>Evitar vir acompanhado com crianças, sem acompanhantes.</li>
					</ul>
				</p>
			</div>

			<div class="item">
				<h2 id="aposDoacao">OQUE FAZER APÓS A DOAÇÃO</h2>
				<p>
					<ul>
						<li>Não fumar por no mínimo duas horas;</li>
						<li>Nas 12 horas após a doação, não praticar exercícios físicos e atividades perigosas, como subir em locais altos ou dirigir caminhão, ônibus em rodovias, etc.</li>
						<li>Permanecer no serviço hemoterápico após a doação por 15 minutos;</li>
						<li>Não forçar o braço em que foi realizada a punção no dia da doação, para evitar sangramentos e hematomas;</li>
						<li>Retirar o curativo 4 horas após a doação.</li>
					</ul>
				</p>
			</div>

			<div class="item">
				<h2 id="quandoDoar">QUANDO DOAR NOVAMENTE</h2>
				<p>
					<ul>
						<li>Mulheres: 90 dias/ 03 doações nos últimos 12 meses;</li>
						<li>Homens: 60 dias/ 04 doações nos últimos 12 meses;</li>
					</ul>
				</p>
			</div>

			<div class="item">
				<h2 id="quemNaoPoder">QUEM NÃO PODE DOAR</h2>
				<h5>Quem tem ou teve as seguintes doenças:</h5>
				<p>
					<ul>
						<li>Hepatite após os 11 anos de idade;</li>
						<li>Lepra (Hanseníase);</li>
						<li>Hipertireoidismo e tireoidite de Hashimoto;</li>
						<li>Doença auto-imune;</li>
						<li>AIDS;</li>
						<li>Problemas cardíacos (necessita avaliação e declaração do seu cardiologista);</li>
						<li>Diabetes;</li>
						<li>Câncer;</li>
					</ul>

					<h4>Outras situações:</h4>

					<ul>
						<li>Fez ou faz uso de algumas drogas ilícitas nos últimos 12 meses;</li>
						<li>Mantém relações sexuais de risco;</li>
						<li>Gestantes ou mulheres que amamentam bebês com menos de 12 meses;</li>
					</ul>

				</p>
			</div>

			<div class="item">
				<h2 id="aguardarDoacao">CASOS QUE DEVEMOS AGUARDAR PARA DOAR</h2>
				<p>
					<ul>
						<li>Quem fez algum tipo de procedimento dentário - de 1 a 30 dias (de acordo com o procedimento);</li>
						<li>Quem recebeu transfusão de sangue e ou parceiros (as) de pacientes que receberam sangue ou fazem hemodiálise – 1 ano;</li>
						<li>Tatuagem e piercing – de 6 meses à 1 ano (passará por avaliação);</li>
						<li>Piercing em língua ou órgão genital – 1 ano após a retirada</li>
						<li>Tiver algum desses sintomas (gripe, tosse, dor de garganta, rinite, febre, resfriado) – 7 dias após a cura;</li>
						<li>Diarreia – 1 semana após último episódio;</li>
						<li>Tiver alguma infecção não tratada ou em tratamento – 15 dias após cura;</li>
						<li>Herpes labial – após a cicatrização total da lesão;	</li>
						<li>Aborto ou parto normal – 3 meses;</li>
						<li>Cesárea – 6 meses;</li>
						<li>Amamentação – liberado quando a criança tiver 1 ano;</li>
						<li>Cirurgia – pode variar de 1 à 12 meses;</li>
						<li>Doenças em geral - passará por avaliação na triagem;</li>
						<li>Vacinação:</li>
							<ul>
								<li>Brucelose, Cólera, Coqueluche, Difteria, Febre tifóide, Hemophillus influenzae, Hepatite A, Hepatite B recombinate, HPV, Influenza H1N1, Leptospirose, Meningite, Peste, Pneumoco, Pólio (Salk) e Tétano – 48 horas</li>
								<li>BCG, Caxumba, Febre amarela, Influenza, Pólio oral (Sabin), Rubéola, Sarampo, Varicela e Varíola – 4 semanas;</li>
								<li>Raiva após exposição com animal – 1 ano;</li>
							</ul>
					</ul>

				</p>
			</div>

			<div class="item">
				<h2 id="etapas">ETAPAS DA DOAÇÃO</h2>
				<p>
					<h5>1º Passo – Recepção e cadastro</h5>
					<ul>
						<li>Apresentação do documento de identidade;</li>
						<li>Atualização de endereço, trabalho, etc.</li>
					</ul>
					<h5>2º Passo – RPré-triagem</h5>
					<ul>
						<li>Peso, altura, verificação de pressão arterial, pulso e temperatura;</li>
						<li>Uma "picadinha" no dedo para verificar seu hematócrito e/ ou hemoglobina;</li>
					</ul>
					<h5>3° Passo – Entrevista clínica</h5>
					<ul>
						<li>É confidencial e o sigilo é absoluto – confie em seu entrevistador e seja sincero;</li>
						<li>Você assinará um Termo de Consentimento onde refere ter entendido as informações recebidas, ter respondido com sinceridade ao questionário, concorda com a coleta de sangue e afirma que está ciente de que se houver resultados sorológicos alterados, será chamado pelo serviço de apoio ao doador;</li>
					</ul>
					<h5>4º Passo – Coleta de sangue</h5>
					<ul>
						<li>Será realizada a coleta de 450 ml ± 45ml e amostras de sangue para exames obrigatórios por lei;</li>
					</ul>
					<h5>5º Passo – Lanche</h5>
					<ul>
						<li>É fornecido lanche acompanhado por líquidos, para repor o volume retirado na doação. Em casa ou no trabalho continue ingerindo bastante líquido.</li>
					</ul>
				</p>
			</div>

			<div class="item">
				<h2 id="sangueDoado">OQUE ACONTECE COM O SANGUE DOADO</h2>
				<p>
					Após a coleta, o sangue é separado em seus componentes dentro de 6 a 8 horas, no setor de processamento.

					<h5>Cada componentes do sangue tem uma finalidade:</h5>
					<ul>
						<li><b>Glóbulos vermelhos</b> – servem para tratar anemias;</li>
						<li><b>Plasma (parte líquida do sangue)</b> – serve para tratar hemorragias. Parte do plasma é encaminhado para indústrias que produzem fatores de coagulação, utilizados para tratar hemofílicos;</li>
						<li><b>Plaquetas</b> – servem para tratar ou evitar sangramentos, e em pessoas que fazem quimioterapia.</li>
					</ul>

				</p>
			</div>
		</div>
