<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="col-xs-12">
      <div class="row ">
        <%= image_tag "images/logo_normal.png", class: "col-xs-12" %>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Entrar</a></li>
            <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Registrar</a></li>
            <li role="presentation"><a href="#forgot" aria-controls="forgot" role="tab" data-toggle="tab">Esqueceu sua senha ?</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
              <%= render '/devise/sessions/new_form' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="register">
            <%= render '/devise/registrations/new_form' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="forgot">
              <%= render '/devise/passwords/new_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

