<div class="col-xs-12 col-sm-12 col-md-7">
  <div class="row jumbotron">
    <h2>
      Você doou sangue recentemente ?
      <br />
      <small>Junte-se a comunidade</small>
    </h2>
    <button class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-tint"></i> Informar Doação
    </button>
  </div>
  <!-- Notifications -->
  <% @last_donations.each do |donation| %>
    <%= render '/timeline/user_donation', donation: donation  %>
  <% end %>
  <!-- Notifications -->
</div>
  <div class="col-xs-12 col-md-5">
    <div class="col-xs-12 alert alert-warning">
      <h3><i class="fa fa-lightbulb-o"></i> Você sabia ?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum elementum lectus, eu bibendum neque laoreet sed. Donec ullamcorper nec mauris ut luctus. Sed vitae tristique mi. </p>
    </div>

    <div class="col-xs-12 row-new-users">
      <div class="media col-sm-12 col-md-12"><div class="media-left"><a href="#">
            <img class="media-object new-user img-circle" src="http://www.gravatar.com/avatar/bb77034c265ef86a4637e630f2e82afc?s=40">
            <span class="badge label-new-user">A+</span></a></div><div class="media-body">
            <h4 class="media-heading">Marvin Medeiros</h4>Acaba de se registrar</div>
      </div>
      <div class="media col-sm-12 col-md-12 "><div class="media-left"> <a href="#">
            <img class="media-object new-user img-circle" src="http://www.gravatar.com/avatar/fb84d2df934999fc747feb4d7c758e2c?s=40">
            <span class="badge label-new-user">O-</span></a></div><div class="media-body">
          <h4 class="media-heading">Marcelo Boeira</h4>Acaba de se registrar</div>
      </div>
      <div class="media col-sm-12 col-md-12 "><div class="media-left"> <a href="#">
            <img class="media-object new-user img-circle" src="http://www.gravatar.com/avatar/fb84d2df934999fc747feb4d7c758e2c?s=40">
            <span class="badge label-new-user">O-</span></a></div><div class="media-body">
          <h4 class="media-heading">Marcelo Boeira</h4>Acaba de se registrar</div>
      </div>
    </div>
  </div>






<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% @donation = Donation.new %>
      <%= render 'donations/form' %>
    </div>
  </div>
</div>


