<div class="col-xs-12">
  <div class="col-xs-12 well">
    <%= gravatar_for(@user, class: "img-rouded img-responsive pull-left") %>
    <div style="margin-left: 100px; margin-bottom:-10px">
      <h2 ><%= @user.username %></h2>
      <p ><%= @user.about %></p>
      <br/>
    </div>
  </div>
   <div class="col-xs-12">
    <div class="col-xs-8">
    <% @user.donations.each do |donation| %>
      <%= render '/timeline/user_donation', donation: donation %>
    <% end %>
    </div>
  </div>
</div>
