body{
	padding-bottom:100px;
}
.logo{
	margin:0px;
	width:35px;
	margin-top:-5px;
	display:inline-block;
}
.navbar-brand{
	width:250px;
}
.img-logo-dashboard{
	width:30px;
	margin-bottom:-10px;
}
.logo-footer{
	margin-top:10px;
	opacity:0.2;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	cursor:pointer;
}
.logo-footer:hover{
	opacity:1;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
.label-blood{
	font-size:20px;
	background:#b73c3c;
}

.label-blood i{
	font-size:10px;
	position:relative;
	right:-2px;
	top:-3px;
}
.image-sidebar span.badge{
	float:right;
	margin-top:-20px;
	margin-right:0px;
	z-index:100 !important;
	font-size:20px;
	background:#b73c3c;
	position:relative;
}
.loading{
	position:absolute;
	top:50%;
	left:50%;
	font-size:100px;
	margin-top:-50px;
	margin-left:-50px;
	color:#b73c3c;
	opacity:0.4;
}
.tint .fa-tint, .modal .fa-tint{
	color: #b73c3c;
	font-size:25px;
	margin-right:2px;
}
.alert{
	padding-top: 0px;
	padding-bottom: 20px;
}
.loading-tint-icon{
	position:absolute;
	color:#b73c3c;
	opacity:0.2;
	top:50%;
	left:50%;
	font-size: 50px;
	margin-left:-15px;
	margin-top:-20px;
}
.new-user{
	width:40px;
}
.label-new-user{
	position: relative;
	top:0px;
	left:0px;
	z-index:100;
	background: #b73c3c;
	font-size:12px;
	width:100%;
}
.row-new-users .media{
	cursor:pointer;
}
.row-new-users .media:hover{
	background:rgb(248,248,248);
}

.item-not{
	border-bottom:1px solid rgb(230,230,230);
	margin-bottom:40px;
}
.item-not .fa-tint{
	position:relative;
	bottom:-35px;
	left:0px;
	font-size:30px;
	color:rgb(230,230,230);
	border:10px solid #fff;
	background:#fff;
}
.item-not span.place{
	color:#b73c3c;
}
.submit_register{
	padding-top:20px;
}
.tab-pane{
	padding-top:10px;
}
