<flash id="flash-messages">
  <% flash.each do |key, value| %>
    <% key = (key == 'alert') ? 'danger' : key %>
    <% key = (key == 'notice') ? 'success' : key %>
    <div class="animated bounceInUp alert alert-<%= key %>"><%= value %></div>
  <% end %>
</flash>
