<!DOCTYPE html>
<html>
<head>
  <title>SpreadBlood</title>
  <%= stylesheet_link_tag    'core', media: 'all' %>
  <%= javascript_include_tag 'core' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
